.search-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px 0; 
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  
  .search-input {
    padding: 10px;
    border: 2px solid #a0a7a2;
    border-radius: 20px;
    width: 50%;
    height: 45px; 
    margin-right: 10px;
    box-sizing: border-box;
  }
   
  .search-button {
    background-color: rgb(165, 42, 42);
    height: 45px;
    padding: 0 20px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .search-icon {
   height: 45px; 
  }
  
  
  @media screen and (max-width: 768px) {
    .search-container {
      flex-direction: column;
      align-items:  center;
    }
  
    .search-input {
      margin-right: 0;
      margin-bottom: 10px; 
      width: 70%; 
    }
    .search-button {
      margin: auto;
    }
  }
  